<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<DataConnectionString>SERVER=10.0.0.2,1433\SQLEXPRESS;DATABASE=test;USER=projectworker;PASSWORD=Bf89490fcfc598a63fdfbde78ddb70b84a898e91;</DataConnectionString>
	<LoadTaskSecondInterval>600</LoadTaskSecondInterval>
	
	<!-- НЕ ТРОГАТЬ -->
	<AllowDataLoss>true</AllowDataLoss>
</Configuration>